<nav class="nav bd-grid">
  <div>
    <a href="https://github.com/grimaldosoto/myportafolio-spa" class="nav__logo">
      Source Code <i class="bx bxl-github"> </i> with <i class="bx bxs-heart nav__logo-color"></i>
    </a>
    <div class="about__social">
      <img src="https://img.shields.io/badge/myportafolio_%20-0.0.0-orange" alt="Angular version" style="max-width: 100%;">

      <img src="https://img.shields.io/badge/Angular_%20-16.2.8-red" alt="Angular version" style="max-width: 100%;">
    </div>

  </div>

  <div class="nav__menu" id="nav-menu">
    <ul class="nav__list">
      <li class="nav__item">
        <a routerLink="/home" class="nav__link active">Home</a>
      </li>
    </ul>
  </div>

  <div class="nav__toggle" id="nav-toggle">
    <i class="bx bx-menu"></i>
  </div>
</nav>
