<section class="about section" id="about">
  <h2 class="section-title" style="margin-top: 0px;margin-bottom: 0px;">Yo</h2>

  <div class="about__container bd-grid">

    <main class="container">
      <div class="card">
        <div class="front">
          <h1>Grimaldo</h1>
          <ul>
            <li>Apasionado a las tecnolog&iacute;as</li>
            <li>Junior Engineer</li>
          </ul>
        </div>
        <div class="rigth">
          <h2>Detalles</h2>
          <ul>
            <li>Me gusta seguir aprendiendo</li>
            <li>.NET Enthusiast</li>
            <li>
              Tratando de optimizar <br />
              siempre el c&oacute;digo con buenas pr&aacute;cticas.
            </li>
          </ul>
          <!--button>Cont&aacute;ctar</button-->
        </div>
      </div>
      <!--div class="img-container">
        <img ngSrc="./assets/img/codificacion.png" alt="skate" />
      </div-->
    </main>

    <div>
      <h2 class="about__subtitle">Sobre mi</h2>
      <p class="about__text" style="text-align: justify;">
        Cuento con experiencia en desarrollo de software adquirida a través de proyectos académicos y prácticas laborales. Familiaridad con lenguajes de programación como C#, TypeScript. Conocimientos en metodologías ágiles (Scrum, Kanban) y herramientas de control de versiones como Git. Dispuesto a contribuir con soluciones innovadoras y a mejorar procesos de desarrollo.
      </p>
    </div>
  </div>
</section>
